body {
    background-color: #E5E5E5;;
}
header {
    text-align: center;
}
ul {
    list-style: none;
}
a {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
}
ul {
    text-align: center;
}
.first {
    text-align: center;
}
.second {
    text-align: center;
}
.right {
    text-align: center;
}
.left {
    text-align: center;
}
.four {
    text-align: center;
}
.fifth {
    text-align: center;
}

.up {
    text-align: center;
}

.down {
    text-align: center;
}
.eight {
    height: 404px;
    background-color: #9AA8B1;
    text-align: center;
    color: #FFFFFF;
}

footer {
    background: #F9F9F9;
    height: 468px;
}
.cube {
    background: #000000;
    height: 82px;
    width: 82px;
    color: #FFFFFF;
}
.sign {
    color: #707A7F;
    size: 13px;
}